.prof {
  position: relative;
  text-align: center;
  width: 20%;
  border-bottom: 2px solid gray;
  left: 500px;
}
#Accounts {
  text-align: center;
  width: 100%%;
}
.theEnd {
  position: relative;
  width: 100%;
  height: 30px;
  float: left;
  background-color: #333;
}
.me {
  left: 10px;
  color: white;
}